/* utility */
.button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
}
.jumbotron{
    color: #fff;
    background-size: cover;
    background-position: center;
}
.jumbotron img{
    width: 250px;
}
.jumbotron h1,
.jumbotron p{
    width: 100%;
    margin: 30px 0;
}
.jumbotron .button{
    background: #cd3d0f;
}
.section-subtitle{
    color: #898989;
    padding: 20px 0;
    font-size: 20px;
}
/* end utility */


/* header  */
.pre-nav{
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: flex-end;
}
.pre-nav img{
    width: 100px;
}


/* jumbotron-1 */
.jumbotron-1{
    padding-top:  250px;
    background-image: url("../img/jumbo-bg.png");
}


/* game-cards */
.game-cards img{
    width: 100%;
}

/* console PS5 */
.section-title{
    padding-bottom: 50px;
}
.ps5-section .section-title>div:first-child{
    color: #1c82d3;
    font-weight: 500;
}
.ps5-section .button{
    background: #2d64e6;
}
.ps5-section img{
    width: 100%;
}
