/* utility */
.button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    transition: padding .2s;
}
.button-border{
    border: 2px solid #000;
    border-radius: 25px;
    padding: 0;
    transition: padding .2s;
    display: inline-block;
}
.jumbotron{
    color: #fff;
    background-size: cover;
    background-position: center;
}
.jumbotron img{
    width: 300px;
}
.jumbotron h1,
.jumbotron p{
    width: 100%;
    margin: 30px 0;
}
.section-title{
    padding-bottom: 50px;
}
.subtitle{
    color: #898989;
    padding: 20px 0;
    font-size: 20px;
}
/* end utility */


/* header  */
.pre-nav{
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: flex-end;
}
.pre-nav img{
    width: 100px;
}
nav .button{
    background: #000;
}
nav .fa-search{
    font-size: 20px;
    margin: 0 15px;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #2d64e6;
}


/* jumbotron-1 */
.jumbotron-1{
    padding-top:  250px;
    background-image: url("../img/jumbo-bg.png");
}
.jumbotron .button{
    background: #cd3d0f;
}
.jumbotron .button-border{
    border-color: #cd3d0f;
}


/* game-cards */
.game-cards img{
    width: 100%;
    border-radius: 20px;
}

/* esplora PS5 */
.ps5-section .section-title>div:first-child{
    color: #1c82d3;
    font-weight: 500;
}
.ps5-section .button{
    background: #2d64e6;
}
.ps5-section .button-border{
    border-color: #2d64e6;
}
.ps5-section img{
    width: 100%;
}
.col:first-child .ps5-images{
    border-bottom: 3px solid #2d64e6;
}


/* jumbotron-2 */
.jumbotron-2{
    padding-top: 40px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* mew games section */
.game-cards{
    color: #fff;
}

/* esplora PS4 */
.ps4-section img{
    width: 100%;
}
.ps4-section .subtitle.ps4{
    max-width: 350px;
}
.ps4-section .button{
    background: #2d64e6;
}
.ps4-section .button-border{
    border-color: #2d64e6;
}

/* playstation plus */
.ps-plus{
    background: #ccc;
    font-weight: 500;
}
#ps-plus-logo{
    width: 350px;
}
.ps-plus .button{
    color: #2d64e6;
    background: #eee;
}
.ps-plus .button-border{
    border-color: #eee;
    margin-bottom: 20px;
}
.ps-plus img:not(#ps-plus-logo){
    width: 100%;
}

/* discounts in store */
.discounts img{
    width: 100%;
}

/* playsattion now */
.ps-now{
    background: #161c3b;
    font-weight: 500;
    color: white;
}
#ps-now-logo{
    width: 350px;
}
.ps-now .button{
    background: #fff;
    color: #000;
}
.ps-now .button-border{
    border-color: #fff;
    margin-bottom: 20px;
}
.ps-now img:not(#ps-now-logo){
    width: 100%;
}





/* transitions */

.button-border:hover{
    padding: 2px;
}
.button-border:hover .button{
    padding: 8px 18px;
}